{% block animals %}
    <h2 style="text-align:center"><a>Les animaux</a></h2>
    <div class="container-animal">
        {% for animal in animals %}
        <div class="grid-item text-center">
            <h3><a href="">{{ animal.id_animal }}</a></h3>
            <img src={{animal.photo}} width="250px" height="250px">
            <p>État: <span>
                    <e1> {{animal.etat}} </e1>
                </span> </p>
            <p>Lieu: <span>
                    <e1> {{animal.lieu}} </e1>
                </span> </p>
        </div>
        {% endfor %}
    </div>
    {% endblock %}