{% load static %}

<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" href="{%  static 'css\main.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet" type="text/css">
    <link rel="icon" href="{%  static 'petshop.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <title>Animalerie Marseillaise</title>
</head>

<body>

    <!---------------NAVBAR---------------->
    <div class="fixed-top">
        <header class="menu-principal">
            <a href="/">
                <h1 class="logo"> Animalerie Marseillaise </h1>
            </a>
            <button class="btn-menu">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <div class="three_fourths remove_bottom last">
                <nav class="menu">
                    <button class="btn-close"><i class="fa fa-times"></i></button>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/animals">Animaux</a></li>
                        <li><a href="/equipements">Équipements</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>

    <!------------------BANNER----------------->
    <div class="banner">
        <div class="tittle">
            <h2>Animalerie Marseillaise</h2>
        </div>
    </div>

    <!------------------ANIMALS---------------->
    <div class="fundo">
    {% block animals %}
    <div class="container-animal">
        <h2 style="text-align:center"><a>Animaux</a></h2>
        {% for animal in animals %}
        <div class="grid-item text-center">
            <h3><a href="animal/{{ animal.id_animal }}">{{ animal.id_animal }}</a></h3>
            <img src={{animal.photo}} width="250px" height="250px">
            <p>État: <span>
                    <e1> {{animal.etat}} </e1>
                </span> </p>
            <p>Lieu: <span>
                    <e1> {{animal.lieu}} </e1>
                </span> </p>
            <a href="animal/{{ animal.id_animal }}" class="btn btn-info" role="button">Details</a>
        </div>
        {% endfor %}
    </div>
    {% endblock %}

    <!------------------EQUIPAMENT----------------->
    {% block equipements %}
    <div class="container-equipement">
        <h2 style="text-align:center"><a>Équipements</a></h2>
        {% for equipement in equipements %}
        <div class="grid-item text-center">
            <h3><a href="">{{ equipement.nom_equipement }}</a></h3>
            <img src={{equipement.photo}} width="250px" height="250px">
            <p>Disponibilité: <span>
                    <e1> {{ equipement.disponibilite }} </e1>
                </span> </p>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
</div>
</html>